<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mrworlds.mapper.OrderitemMapper" >
  <resultMap id="BaseResultMap" type="cn.mrworlds.pojo.Orderitem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productID" property="productid" jdbcType="INTEGER" />
    <result column="nums" property="nums" jdbcType="DOUBLE" />
    <result column="product_attr" property="productAttr" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="itemType" property="itemtype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, productID, nums, product_attr, time, itemType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.mrworlds.pojo.OrderitemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.mrworlds.pojo.OrderitemExample" >
    delete from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.mrworlds.pojo.Orderitem" >
    insert into orderitem (id, productID, nums, 
      product_attr, time, itemType
      )
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{nums,jdbcType=DOUBLE}, 
      #{productAttr,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{itemtype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.mrworlds.pojo.Orderitem" >
    insert into orderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productid != null" >
        productID,
      </if>
      <if test="nums != null" >
        nums,
      </if>
      <if test="productAttr != null" >
        product_attr,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="itemtype != null" >
        itemType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="nums != null" >
        #{nums,jdbcType=DOUBLE},
      </if>
      <if test="productAttr != null" >
        #{productAttr,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="itemtype != null" >
        #{itemtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.mrworlds.pojo.OrderitemExample" resultType="java.lang.Integer" >
    select count(*) from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderitem
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null" >
        productID = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.nums != null" >
        nums = #{record.nums,jdbcType=DOUBLE},
      </if>
      <if test="record.productAttr != null" >
        product_attr = #{record.productAttr,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.itemtype != null" >
        itemType = #{record.itemtype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderitem
    set id = #{record.id,jdbcType=INTEGER},
      productID = #{record.productid,jdbcType=INTEGER},
      nums = #{record.nums,jdbcType=DOUBLE},
      product_attr = #{record.productAttr,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      itemType = #{record.itemtype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mrworlds.pojo.Orderitem" >
    update orderitem
    <set >
      <if test="productid != null" >
        productID = #{productid,jdbcType=INTEGER},
      </if>
      <if test="nums != null" >
        nums = #{nums,jdbcType=DOUBLE},
      </if>
      <if test="productAttr != null" >
        product_attr = #{productAttr,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="itemtype != null" >
        itemType = #{itemtype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mrworlds.pojo.Orderitem" >
    update orderitem
    set productID = #{productid,jdbcType=INTEGER},
      nums = #{nums,jdbcType=DOUBLE},
      product_attr = #{productAttr,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      itemType = #{itemtype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getMaxItemID" resultType="java.lang.Integer" >
      select max(id) from orderitem
  </select>
  <select id="getProductRelationItem" resultMap="BaseResultMap">
    SELECT * FROM `orderitem` where productID = #{productid,jdbcType=INTEGER} and id in
    <foreach close=")" collection="orderitems" item="listItem" open="(" separator=",">
      #{listItem}
    </foreach>
  </select>
</mapper>