<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mrworlds.mapper.UnlockproductMapper" >
  <resultMap id="BaseResultMap" type="cn.mrworlds.pojo.Unlockproduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="mashinecode" property="mashinecode" jdbcType="VARCHAR" />
    <result column="worksID" property="worksid" jdbcType="VARCHAR" />
    <result column="attri1" property="attri1" jdbcType="VARCHAR" />
    <result column="attri2" property="attri2" jdbcType="VARCHAR" />
    <result column="attri3" property="attri3" jdbcType="VARCHAR" />
    <result column="spaceID" property="spaceid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, time, userid, mashinecode, worksID, attri1, attri2, attri3, spaceID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.mrworlds.pojo.UnlockproductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from unlockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from unlockproduct
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from unlockproduct
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.mrworlds.pojo.UnlockproductExample" >
    delete from unlockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.mrworlds.pojo.Unlockproduct" >
    insert into unlockproduct (id, pid, time, 
      userid, mashinecode, worksID, 
      attri1, attri2, attri3, 
      spaceID)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{mashinecode,jdbcType=VARCHAR}, #{worksid,jdbcType=VARCHAR}, 
      #{attri1,jdbcType=VARCHAR}, #{attri2,jdbcType=VARCHAR}, #{attri3,jdbcType=VARCHAR}, 
      #{spaceid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.mrworlds.pojo.Unlockproduct" >
    insert into unlockproduct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="mashinecode != null" >
        mashinecode,
      </if>
      <if test="worksid != null" >
        worksID,
      </if>
      <if test="attri1 != null" >
        attri1,
      </if>
      <if test="attri2 != null" >
        attri2,
      </if>
      <if test="attri3 != null" >
        attri3,
      </if>
      <if test="spaceid != null" >
        spaceID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="mashinecode != null" >
        #{mashinecode,jdbcType=VARCHAR},
      </if>
      <if test="worksid != null" >
        #{worksid,jdbcType=VARCHAR},
      </if>
      <if test="attri1 != null" >
        #{attri1,jdbcType=VARCHAR},
      </if>
      <if test="attri2 != null" >
        #{attri2,jdbcType=VARCHAR},
      </if>
      <if test="attri3 != null" >
        #{attri3,jdbcType=VARCHAR},
      </if>
      <if test="spaceid != null" >
        #{spaceid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.mrworlds.pojo.UnlockproductExample" resultType="java.lang.Integer" >
    select count(*) from unlockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update unlockproduct
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.mashinecode != null" >
        mashinecode = #{record.mashinecode,jdbcType=VARCHAR},
      </if>
      <if test="record.worksid != null" >
        worksID = #{record.worksid,jdbcType=VARCHAR},
      </if>
      <if test="record.attri1 != null" >
        attri1 = #{record.attri1,jdbcType=VARCHAR},
      </if>
      <if test="record.attri2 != null" >
        attri2 = #{record.attri2,jdbcType=VARCHAR},
      </if>
      <if test="record.attri3 != null" >
        attri3 = #{record.attri3,jdbcType=VARCHAR},
      </if>
      <if test="record.spaceid != null" >
        spaceID = #{record.spaceid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update unlockproduct
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      mashinecode = #{record.mashinecode,jdbcType=VARCHAR},
      worksID = #{record.worksid,jdbcType=VARCHAR},
      attri1 = #{record.attri1,jdbcType=VARCHAR},
      attri2 = #{record.attri2,jdbcType=VARCHAR},
      attri3 = #{record.attri3,jdbcType=VARCHAR},
      spaceID = #{record.spaceid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mrworlds.pojo.Unlockproduct" >
    update unlockproduct
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="mashinecode != null" >
        mashinecode = #{mashinecode,jdbcType=VARCHAR},
      </if>
      <if test="worksid != null" >
        worksID = #{worksid,jdbcType=VARCHAR},
      </if>
      <if test="attri1 != null" >
        attri1 = #{attri1,jdbcType=VARCHAR},
      </if>
      <if test="attri2 != null" >
        attri2 = #{attri2,jdbcType=VARCHAR},
      </if>
      <if test="attri3 != null" >
        attri3 = #{attri3,jdbcType=VARCHAR},
      </if>
      <if test="spaceid != null" >
        spaceID = #{spaceid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mrworlds.pojo.Unlockproduct" >
    update unlockproduct
    set pid = #{pid,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      mashinecode = #{mashinecode,jdbcType=VARCHAR},
      worksID = #{worksid,jdbcType=VARCHAR},
      attri1 = #{attri1,jdbcType=VARCHAR},
      attri2 = #{attri2,jdbcType=VARCHAR},
      attri3 = #{attri3,jdbcType=VARCHAR},
      spaceID = #{spaceid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>