<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runner99.sql.mapper.RiskOutMapper">

    <resultMap id="BaseResultMap" type="com.runner99.sql.pojo.RiskOut">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="outType" column="out_type" jdbcType="VARCHAR"/>
            <result property="outIp" column="out_ip" jdbcType="VARCHAR"/>
            <result property="outPort" column="out_port" jdbcType="VARCHAR"/>
            <result property="outProtocol" column="out_protocol" jdbcType="VARCHAR"/>
            <result property="enable" column="enable" jdbcType="TINYINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="outTemplateId" column="out_template_id" jdbcType="INTEGER"/>
            <result property="cron" column="cron" jdbcType="VARCHAR"/>
            <result property="dataRangeStart" column="data_range_start" jdbcType="INTEGER"/>
            <result property="dataRangeEnd" column="data_range_end" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,out_type,
        out_ip,out_port,out_protocol,
        enable,createTime,updateTime,
        out_template_id,cron,data_range_start,
        data_range_end
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from risk_out
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from risk_out
        where  name = #{name,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from risk_out
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.runner99.sql.pojo.RiskOut" useGeneratedKeys="true">
        insert into risk_out
        ( id,name,out_type
        ,out_ip,out_port,out_protocol
        ,enable,createTime,updateTime
        ,out_template_id,cron,data_range_start
        ,data_range_end)
        values (#{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{outType,jdbcType=VARCHAR}
        ,#{outIp,jdbcType=VARCHAR},#{outPort,jdbcType=VARCHAR},#{outProtocol,jdbcType=VARCHAR}
        ,#{enable,jdbcType=TINYINT},#{createtime,jdbcType=TIMESTAMP},#{updatetime,jdbcType=TIMESTAMP}
        ,#{outTemplateId,jdbcType=INTEGER},#{cron,jdbcType=VARCHAR},#{dataRangeStart,jdbcType=INTEGER}
        ,#{dataRangeEnd,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.runner99.sql.pojo.RiskOut" useGeneratedKeys="true">
        insert into risk_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="outType != null">out_type,</if>
                <if test="outIp != null">out_ip,</if>
                <if test="outPort != null">out_port,</if>
                <if test="outProtocol != null">out_protocol,</if>
                <if test="enable != null">enable,</if>
                <if test="createtime != null">createTime,</if>
                <if test="updatetime != null">updateTime,</if>
                <if test="outTemplateId != null">out_template_id,</if>
                <if test="cron != null">cron,</if>
                <if test="dataRangeStart != null">data_range_start,</if>
                <if test="dataRangeEnd != null">data_range_end,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="outType != null">#{outType,jdbcType=VARCHAR},</if>
                <if test="outIp != null">#{outIp,jdbcType=VARCHAR},</if>
                <if test="outPort != null">#{outPort,jdbcType=VARCHAR},</if>
                <if test="outProtocol != null">#{outProtocol,jdbcType=VARCHAR},</if>
                <if test="enable != null">#{enable,jdbcType=TINYINT},</if>
                <if test="createtime != null">#{createtime,jdbcType=TIMESTAMP},</if>
                <if test="updatetime != null">#{updatetime,jdbcType=TIMESTAMP},</if>
                <if test="outTemplateId != null">#{outTemplateId,jdbcType=INTEGER},</if>
                <if test="cron != null">#{cron,jdbcType=VARCHAR},</if>
                <if test="dataRangeStart != null">#{dataRangeStart,jdbcType=INTEGER},</if>
                <if test="dataRangeEnd != null">#{dataRangeEnd,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.runner99.sql.pojo.RiskOut">
        update risk_out
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="outType != null">
                    out_type = #{outType,jdbcType=VARCHAR},
                </if>
                <if test="outIp != null">
                    out_ip = #{outIp,jdbcType=VARCHAR},
                </if>
                <if test="outPort != null">
                    out_port = #{outPort,jdbcType=VARCHAR},
                </if>
                <if test="outProtocol != null">
                    out_protocol = #{outProtocol,jdbcType=VARCHAR},
                </if>
                <if test="enable != null">
                    enable = #{enable,jdbcType=TINYINT},
                </if>
                <if test="createtime != null">
                    createTime = #{createtime,jdbcType=TIMESTAMP},
                </if>
                <if test="updatetime != null">
                    updateTime = #{updatetime,jdbcType=TIMESTAMP},
                </if>
                <if test="outTemplateId != null">
                    out_template_id = #{outTemplateId,jdbcType=INTEGER},
                </if>
                <if test="cron != null">
                    cron = #{cron,jdbcType=VARCHAR},
                </if>
                <if test="dataRangeStart != null">
                    data_range_start = #{dataRangeStart,jdbcType=INTEGER},
                </if>
                <if test="dataRangeEnd != null">
                    data_range_end = #{dataRangeEnd,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.runner99.sql.pojo.RiskOut">
        update risk_out
        set 
            name =  #{name,jdbcType=VARCHAR},
            out_type =  #{outType,jdbcType=VARCHAR},
            out_ip =  #{outIp,jdbcType=VARCHAR},
            out_port =  #{outPort,jdbcType=VARCHAR},
            out_protocol =  #{outProtocol,jdbcType=VARCHAR},
            enable =  #{enable,jdbcType=TINYINT},
            createTime =  #{createtime,jdbcType=TIMESTAMP},
            updateTime =  #{updatetime,jdbcType=TIMESTAMP},
            out_template_id =  #{outTemplateId,jdbcType=INTEGER},
            cron =  #{cron,jdbcType=VARCHAR},
            data_range_start =  #{dataRangeStart,jdbcType=INTEGER},
            data_range_end =  #{dataRangeEnd,jdbcType=INTEGER}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
